// Native course banner rendering.

.local-course-banner-builder-native-course-banner--moodle-generated {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
