{{!
    This file is part of Moodle - http://moodle.org/

    @template local_course_banner_builder/admin_manage

    Configured banner list.
}}
{{#hasitems}}
    <div class="local-course-banner-builder-configured-source-tools">
        <button type="button"
            class="btn btn-outline-secondary btn-sm local-course-banner-builder-chain-collapse-toggle"
            data-action="local-course-banner-builder-toggle-all-source-chains"
            data-collapse-label="{{#str}}collapseallsourcechains, local_course_banner_builder{{/str}}"
            data-expand-label="{{#str}}expandallsourcechains, local_course_banner_builder{{/str}}">
            <i class="icon fa fa-compress fa-fw" aria-hidden="true"></i>
            <span>{{#str}}collapseallsourcechains, local_course_banner_builder{{/str}}</span>
        </button>
    </div>
    <div class="table-responsive">
        <table class="generaltable local-course-banner-builder-configured-sources-table">
            <colgroup>
                <col class="local-course-banner-builder-configured-col-hierarchy">
                <col class="local-course-banner-builder-configured-col-parent">
                <col class="local-course-banner-builder-configured-col-name">
                <col class="local-course-banner-builder-configured-col-type">
                <col class="local-course-banner-builder-configured-col-layers">
                <col class="local-course-banner-builder-configured-col-mode">
                <col class="local-course-banner-builder-configured-col-fit">
                <col class="local-course-banner-builder-configured-col-preview">
                <col class="local-course-banner-builder-configured-col-actions">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">{{#str}}hierarchy, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}sourceparentkey, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}sourcename, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}sourcetype, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}layers, local_course_banner_builder{{/str}}</th>
                    <th scope="col">Composition</th>
                    <th scope="col">{{#str}}fitmode, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}bannerimage, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}actions, local_course_banner_builder{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#items}}
                    <tr class="{{rowclass}}"
                        data-source-chain-row="1"
                        data-source-chain-key="{{sourcekeyhash}}"
                        data-source-chain-parent="{{parentkeyhash}}"
                        data-source-chain-level="{{hierarchylevel}}"
                        {{#rowstyle}} style="{{rowstyle}}"{{/rowstyle}}>
                        <td class="local-course-banner-builder-hierarchy-cell">
                            {{#hierarchylevelmarkers}}
                                <span class="local-course-banner-builder-hierarchy-level-line" style="{{style}}" aria-hidden="true"></span>
                            {{/hierarchylevelmarkers}}
                            {{#haschildren}}
                                <button type="button"
                                    class="btn btn-link local-course-banner-builder-chain-row-toggle"
                                    data-action="local-course-banner-builder-toggle-source-chain"
                                    data-source-chain-toggle="{{sourcekeyhash}}"
                                    aria-expanded="true">
                                    <i class="icon fa fa-chevron-down fa-fw" aria-hidden="true"></i>
                                    <span class="sr-only">{{#str}}toggle{{/str}}</span>
                                </button>
                            {{/haschildren}}
                            {{#hasbranchlabel}}
                                <div class="local-course-banner-builder-hierarchy-topline">
                                    <div class="local-course-banner-builder-branch-label">{{branchlabel}}</div>
                                </div>
                            {{/hasbranchlabel}}
                            <span class="local-course-banner-builder-hierarchy">
                                {{hierarchyarrows}}{{#isrootrow}}<strong>{{hierarchylabel}}</strong>{{/isrootrow}}{{^isrootrow}}{{hierarchylabel}}{{/isrootrow}}
                            </span>
                            {{#isisolated}}
                                <a class="btn btn-link p-0 ml-2 icon-no-margin local-course-banner-builder-shortcircuit-help"
                                   role="button"
                                   data-container="body"
                                   data-toggle="popover"
                                   data-placement="right"
                                   data-content="{{shortcircuitpopovercontent}}"
                                   data-html="true"
                                   data-trigger="hover"
                                   tabindex="0"
                                   aria-label="{{shortcircuithelp}}">
                                    <i class="icon fa fa-circle-question text-warning fa-fw" title="{{shortcircuithelp}}" role="img" aria-label="{{shortcircuithelp}}"></i>
                                </a>
                            {{/isisolated}}
                        </td>
                        <td class="local-course-banner-builder-source-parent-cell">
                            {{#hasbranchhead}}
                                <span class="local-course-banner-builder-parent-branch-connector"
                                    role="button"
                                    tabindex="0"
                                    data-container="body"
                                    data-toggle="popover"
                                    data-placement="top"
                                    data-content="{{branchsplitpopovercontent}}"
                                    data-html="true"
                                    data-trigger="hover"
                                    aria-label="{{branchsplithelp}}"
                                    title="{{branchsplithelp}}">
                                    <i class="icon fa fa-code-branch fa-fw" aria-hidden="true"></i>
                                </span>
                            {{/hasbranchhead}}
                            {{#hasparentconnector}}
                                <span class="local-course-banner-builder-parent-chain-connector" aria-hidden="true">
                                    <i class="icon fa fa-arrow-down fa-fw" aria-hidden="true"></i>
                                </span>
                            {{/hasparentconnector}}
                            <div class="local-course-banner-builder-summary-meta-row" data-inline-setting-row="1">
                                <form method="post" action="" class="local-course-banner-builder-summary-inline-form">
                                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                                    <input type="hidden" name="updatesourceparentfield" value="1">
                                    <input type="hidden" name="sourcekey" value="{{sourcekey}}">
                                    <div class="local-course-banner-builder-summary-inline-view">
                                        <span class="local-course-banner-builder-summary-inline-value">{{parentdisplayvalue}}</span>
                                        <button type="button" class="btn btn-link p-0 icon-no-margin local-course-banner-builder-summary-inline-trigger" data-action="local-course-banner-builder-inline-edit" aria-label="{{#str}}edit{{/str}}">
                                            <i class="icon fa fa-pen fa-fw" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="local-course-banner-builder-summary-inline-edit">
                                        <label class="sr-only" for="{{parentfieldid}}">{{#str}}sourceparentkey, local_course_banner_builder{{/str}}</label>
                                        <input type="hidden" id="{{parentfieldid}}" name="fieldvalue" value="{{parentselectedvalue}}" data-inline-setting-select="1" data-initial-value="{{parentselectedvalue}}" disabled>
                                        <div class="dropdown local-course-banner-builder-source-dropdown local-course-banner-builder-summary-source-dropdown"
                                             data-source-dropdown="configured-parent"
                                             data-input="#{{parentfieldid}}">
                                            <button type="button"
                                                class="btn btn-outline-primary btn-sm dropdown-toggle local-course-banner-builder-source-dropdown-toggle"
                                                data-toggle="dropdown"
                                                data-bs-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                                data-source-dropdown-label="1">
                                                {{parentdisplayvalue}}
                                            </button>
                                            <div class="dropdown-menu local-course-banner-builder-source-dropdown-menu">
                                                <div class="local-course-banner-builder-source-dropdown-search">
                                                    <input type="search"
                                                        class="form-control form-control-sm"
                                                        placeholder="{{#str}}searchsourcesplaceholder, local_course_banner_builder{{/str}}"
                                                        data-action="local-course-banner-builder-filter-sources"
                                                        data-target="#{{parentoptionsid}}">
                                                </div>
                                                <div class="local-course-banner-builder-source-dropdown-options" id="{{parentoptionsid}}">
                                                    {{#parentoptions}}
                                                        <button type="button"
                                                            class="dropdown-item local-course-banner-builder-source-option {{#selected}}active{{/selected}}"
                                                            data-source-option="configured-parent"
                                                            data-value="{{value}}"
                                                            data-label="{{label}}"
                                                            data-search="{{label}}">
                                                            {{label}}
                                                        </button>
                                                    {{/parentoptions}}
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-link p-0 icon-no-margin local-course-banner-builder-summary-inline-submit" aria-label="{{#str}}savechanges{{/str}}">
                                            <i class="icon fa fa-check fa-fw" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-link p-0 icon-no-margin local-course-banner-builder-summary-inline-cancel" data-action="local-course-banner-builder-inline-cancel" aria-label="{{#str}}cancel{{/str}}">
                                            <i class="icon fa fa-xmark fa-fw" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td><a href="{{categoryadminurl}}">{{categoryname}}</a></td>
                        <td>{{sourcetypelabel}}</td>
                        <td>{{layercountdisplay}}</td>
                        <td>{{compositionmodelabel}}</td>
                        <td>{{fitmodelabel}}</td>
                        <td>
                            <div class="local-course-banner-builder-thumb-list">
                                {{#thumbnails}}
                                    <div class="local-course-banner-builder-thumb-item" title="{{name}}">
                                        <img src="{{imageurl}}" alt="">
                                        {{#isdynamic}}
                                            <span class="local-course-banner-builder-thumb-dynamic-badge"
                                                role="button"
                                                data-container="body"
                                                data-toggle="popover"
                                                data-placement="right"
                                                data-content="{{dynamicpopovercontent}}"
                                                data-html="true"
                                                data-trigger="hover"
                                                tabindex="0"
                                                aria-label="{{dynamiclabel}}"
                                                title="{{dynamiclabel}}">T</span>
                                        {{/isdynamic}}
                                    </div>
                                {{/thumbnails}}
                                {{#hasmorethumbnails}}
                                    <div class="local-course-banner-builder-thumb-more">+{{morethumbnailscount}}</div>
                                {{/hasmorethumbnails}}
                            </div>
                            {{#hasbordercaption}}
                                <div class="local-course-banner-builder-thumb-caption text-muted">{{bordercaption}}</div>
                            {{/hasbordercaption}}
                            {{^hasthumbnails}}
                                <span class="text-muted{{#nothumbnailsisborderlabel}} fw-bold{{/nothumbnailsisborderlabel}}">{{nothumbnailslabel}}</span>
                            {{/hasthumbnails}}
                        </td>
                        <td class="local-course-banner-builder-source-actions-cell">
                            <div class="local-course-banner-builder-action-list">
                                <button type="button"
                                    class="btn btn-outline-secondary btn-sm"
                                    data-action="local-course-banner-builder-show-source-chain-preview"
                                    data-preview-url="{{previewurl}}"
                                    data-edit-url="{{editurl}}"
                                    data-edit-label="{{#str}}editsourcebutton, local_course_banner_builder{{/str}}"
                                    data-container="body"
                                    data-toggle="popover"
                                    data-placement="left"
                                    data-content="&lt;div class=&quot;no-overflow&quot;&gt;&lt;p&gt;{{#str}}sourcechainpreview_help, local_course_banner_builder{{/str}}&lt;/p&gt;&lt;/div&gt;"
                                    data-html="true"
                                    data-trigger="hover">
                                    <i class="icon fa fa-eye fa-fw" aria-hidden="true"></i>
                                    {{#str}}preview{{/str}}
                                </button>
                                <a class="btn btn-secondary btn-sm" href="{{editurl}}">{{#str}}edit{{/str}}</a>
                                <form method="post" action="" class="d-inline">
                                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                                    {{#sourcekey}}<input type="hidden" name="deletesourceimages" value="{{sourcekey}}">{{/sourcekey}}
                                    {{^sourcekey}}<input type="hidden" name="deletecategoryimages" value="{{categoryid}}">{{/sourcekey}}
                                    <button type="submit" class="btn btn-outline-danger btn-sm"
                                        data-modal="confirmation"
                                        data-modal-title="{{#str}}confirm{{/str}}"
                                        data-modal-content="{{#str}}deletecategoryimagesconfirm, local_course_banner_builder{{/str}}"
                                        data-modal-yes-button="{{#str}}delete{{/str}}">
                                        {{#str}}deletecategoryimages, local_course_banner_builder{{/str}}
                                    </button>
                                </form>
                                <form method="post" action="" class="d-inline">
                                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                                    {{#sourcekey}}<input type="hidden" name="deletesourcecontent" value="{{sourcekey}}">{{/sourcekey}}
                                    {{^sourcekey}}<input type="hidden" name="deletecategorycontent" value="{{categoryid}}">{{/sourcekey}}
                                    <button type="submit" class="btn btn-danger btn-sm"
                                        data-modal="confirmation"
                                        data-modal-title="{{#str}}confirm{{/str}}"
                                        data-modal-content="{{#str}}deletecategorycontentconfirm, local_course_banner_builder{{/str}}"
                                        data-modal-yes-button="{{#str}}delete{{/str}}">
                                        {{#str}}deletecategorycontent, local_course_banner_builder{{/str}}
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {{/items}}
            </tbody>
        </table>
    </div>
{{/hasitems}}
{{^hasitems}}
    <p>{{#str}}noconfiguredcategories, local_course_banner_builder{{/str}}</p>
{{/hasitems}}
