{{!
    This file is part of Moodle - http://moodle.org/

    @template local_course_banner_builder/admin_manage

    Configured banner list.
}}
{{#hasitems}}
    <div class="table-responsive">
        <table class="generaltable">
            <thead>
                <tr>
                    <th scope="col">{{#str}}hierarchy, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}source, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}layers, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}compositionmode, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}fitmode, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}fitapplyscope, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}bannerimage, local_course_banner_builder{{/str}}</th>
                    <th scope="col">{{#str}}actions, local_course_banner_builder{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#items}}
                    <tr class="{{rowclass}}">
                        <td>
                            <span class="local-course-banner-builder-hierarchy">
                                {{hierarchyarrows}}{{hierarchylabel}}
                            </span>
                            {{#isisolated}}
                                <a class="btn btn-link p-0 ml-2 icon-no-margin local-course-banner-builder-shortcircuit-help"
                                   role="button"
                                   data-container="body"
                                   data-toggle="popover"
                                   data-placement="right"
                                   data-content="{{shortcircuitpopovercontent}}"
                                   data-html="true"
                                   data-trigger="focus"
                                   data-template="<div class=&quot;popover warning local-course-banner-builder-warning-popover&quot; role=&quot;tooltip&quot;><div class=&quot;arrow&quot;></div><h3 class=&quot;popover-header&quot;></h3><div class=&quot;popover-body&quot;></div></div>"
                                   tabindex="0"
                                   aria-label="{{shortcircuithelp}}">
                                    <i class="icon fa fa-circle-question text-warning fa-fw" title="{{shortcircuithelp}}" role="img" aria-label="{{shortcircuithelp}}"></i>
                                </a>
                            {{/isisolated}}
                        </td>
                        <td><a href="{{categoryadminurl}}">{{categoryname}}</a></td>
                        <td>{{layercountdisplay}}</td>
                        <td>{{compositionmodelabel}}</td>
                        <td>{{fitmodelabel}}</td>
                        <td>{{fitapplyscopelabel}}</td>
                        <td>
                            <div class="local-course-banner-builder-thumb-list">
                                {{#thumbnails}}
                                    <div class="local-course-banner-builder-thumb-item" title="{{name}}">
                                        <img src="{{imageurl}}" alt="">
                                        {{#isdynamic}}
                                            <span class="local-course-banner-builder-thumb-dynamic-badge"
                                                role="button"
                                                data-container="body"
                                                data-toggle="popover"
                                                data-placement="right"
                                                data-content="{{dynamicpopovercontent}}"
                                                data-html="true"
                                                data-trigger="hover focus"
                                                tabindex="0"
                                                aria-label="{{dynamiclabel}}"
                                                title="{{dynamiclabel}}">D</span>
                                        {{/isdynamic}}
                                    </div>
                                {{/thumbnails}}
                                {{#hasmorethumbnails}}
                                    <div class="local-course-banner-builder-thumb-more">+{{morethumbnailscount}}</div>
                                {{/hasmorethumbnails}}
                            </div>
                            {{#hasbordercaption}}
                                <div class="local-course-banner-builder-thumb-caption text-muted">{{bordercaption}}</div>
                            {{/hasbordercaption}}
                            {{^hasthumbnails}}
                                <span class="text-muted{{#nothumbnailsisborderlabel}} fw-bold{{/nothumbnailsisborderlabel}}">{{nothumbnailslabel}}</span>
                            {{/hasthumbnails}}
                        </td>
                        <td>
                            <div class="local-course-banner-builder-action-list">
                                <a class="btn btn-secondary btn-sm" href="{{editurl}}">{{#str}}edit{{/str}}</a>
                                <form method="post" action="" class="d-inline">
                                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                                    {{#sourcekey}}<input type="hidden" name="deletesourceimages" value="{{sourcekey}}">{{/sourcekey}}
                                    {{^sourcekey}}<input type="hidden" name="deletecategoryimages" value="{{categoryid}}">{{/sourcekey}}
                                    <button type="submit" class="btn btn-outline-danger btn-sm"
                                        data-modal="confirmation"
                                        data-modal-title="{{#str}}confirm{{/str}}"
                                        data-modal-content="{{#str}}deletecategoryimagesconfirm, local_course_banner_builder{{/str}}"
                                        data-modal-yes-button="{{#str}}delete{{/str}}">
                                        {{#str}}deletecategoryimages, local_course_banner_builder{{/str}}
                                    </button>
                                </form>
                                <form method="post" action="" class="d-inline">
                                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                                    {{#sourcekey}}<input type="hidden" name="deletesourcecontent" value="{{sourcekey}}">{{/sourcekey}}
                                    {{^sourcekey}}<input type="hidden" name="deletecategorycontent" value="{{categoryid}}">{{/sourcekey}}
                                    <button type="submit" class="btn btn-danger btn-sm"
                                        data-modal="confirmation"
                                        data-modal-title="{{#str}}confirm{{/str}}"
                                        data-modal-content="{{#str}}deletecategorycontentconfirm, local_course_banner_builder{{/str}}"
                                        data-modal-yes-button="{{#str}}delete{{/str}}">
                                        {{#str}}deletecategorycontent, local_course_banner_builder{{/str}}
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {{/items}}
            </tbody>
        </table>
    </div>
{{/hasitems}}
{{^hasitems}}
    <p>{{#str}}noconfiguredcategories, local_course_banner_builder{{/str}}</p>
{{/hasitems}}
