{{!
    This file is part of Moodle - http://moodle.org/

    @template local_course_banner_builder/banner

    Course banner image layers.

    Example context (json):
    {
        "layers": [
            {
                "index": 1,
                "url": "https://example.com/banner-layer.png"
            }
        ]
    }
}}
<div class="local-course-banner-builder position-relative w-100 overflow-hidden" aria-hidden="true">
    {{#layers}}
        <img class="banner-layer banner-layer-{{index}} img-fluid w-100 h-100" src="{{url}}" alt="" loading="lazy">
    {{/layers}}
</div>
