{{!
    @template local_course_banner_builder/easyedu_navigation_items

    Shared item partial used by desktop and compact wrappers.
}}
<li
    class="easyedu-navigation__entry easyedu-navigation__entry--{{kind}}"
    data-easyedu-navigation-item-id="{{id}}"
>
    {{#islink}}
    <a
        class="easyedu-navigation__item {{#current}}active{{/current}} {{#destructive}}easyedu-navigation__item--destructive{{/destructive}}"
        {{^disabled}}{{#url}}href="{{url}}"{{/url}}{{/disabled}}
        {{#current}}aria-current="page"{{/current}}
        {{#disabled}}aria-disabled="true" tabindex="-1"{{/disabled}}
        {{#accessiblelabel}}aria-label="{{accessiblelabel}}"{{/accessiblelabel}}
    >
        {{#icon}}<span class="{{icon}}" aria-hidden="true"></span>{{/icon}}
        <span class="easyedu-navigation__item-label">{{label}}</span>
        {{#badge}}<span class="easyedu-navigation__badge">{{badge}}</span>{{/badge}}
    </a>
    {{/islink}}

    {{#isbutton}}
    <button
        type="button"
        class="easyedu-navigation__item {{#current}}active{{/current}} {{#destructive}}easyedu-navigation__item--destructive{{/destructive}}"
        data-easyedu-navigation-action="{{action}}"
        {{#current}}aria-current="page"{{/current}}
        {{#disabled}}disabled aria-disabled="true"{{/disabled}}
        {{#accessiblelabel}}aria-label="{{accessiblelabel}}"{{/accessiblelabel}}
    >
        {{#icon}}<span class="{{icon}}" aria-hidden="true"></span>{{/icon}}
        <span class="easyedu-navigation__item-label">{{label}}</span>
        {{#badge}}<span class="easyedu-navigation__badge">{{badge}}</span>{{/badge}}
    </button>
    {{/isbutton}}

    {{#isdisclosure}}
    <button
        type="button"
        class="easyedu-navigation__item"
        data-easyedu-navigation-disclosure="1"
        aria-expanded="{{#expanded}}true{{/expanded}}{{^expanded}}false{{/expanded}}"
        {{#disabled}}disabled aria-disabled="true"{{/disabled}}
        {{#accessiblelabel}}aria-label="{{accessiblelabel}}"{{/accessiblelabel}}
    >
        {{#icon}}<span class="{{icon}}" aria-hidden="true"></span>{{/icon}}
        <span class="easyedu-navigation__item-label">{{label}}</span>
        {{#badge}}<span class="easyedu-navigation__badge">{{badge}}</span>{{/badge}}
        <span class="easyedu-navigation__disclosure-icon {{disclosureicon}}" aria-hidden="true"></span>
    </button>
    {{/isdisclosure}}

    {{#haschildren}}
    <ul
        class="easyedu-navigation__items"
        data-easyedu-navigation-children="1"
        {{^expanded}}hidden{{/expanded}}
    >
        {{#children}}
            {{> local_course_banner_builder/easyedu_navigation_items }}
        {{/children}}
    </ul>
    {{/haschildren}}
</li>
